
.alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 20rem;
    height: 5rem;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5rem;
  }
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    opacity: 0;
    animation: slideIn 1.5s ease-out forwards;
  }
  
 .error__icon {
    font-size: 2rem;
 }
 @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%); 
    }
    to {
      opacity: 1;
      transform: translateX(0); 
    }
  }